@import "./background-color";
@import "./background-image";

body {
  @extend .bg-flamingo;
}

#app {
  min-width: 1200px;
  min-height: 600px;
  height: 100%;
  margin: auto;
  box-shadow: 0 0 4px 2px #555;
  border-radius: 4px;
  font-size: 14px;
  @extend .image-sunflower;
}
